/* relogios-inteligentes.css */

body {
    background-color: #fff3e0; /* Laranja claro para a categoria de relógios inteligentes */
}

h1 {
    color: #e65100; /* Cor escura para o título */
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #ff6f00; /* Um tom laranja para subtítulos */
}
